@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --steps: 27;
}

.card {
  padding: 2rem;
  box-shadow: 0px 8px 16px -7px rgba(34, 60, 80, 0.2);
}

.container-wrapper {
  letter-spacing: 1px;
}

.container {
  transition: 0.2s;
  cursor: pointer;
  padding: 1rem 2rem;
  border-radius: 1rem;
}

.container:hover {
  transform: scale(1.05);
}

.text-h1 {
  text-align: start;
}

.status-h1 {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 30px;
}

body {
  display: grid;
  place-content: center;
  min-height: 100vh;
}

.typing {
  font-family: "Inconsolata", monospace;
  font-size: 2vw;
  color: #d7b94c;
}

@keyframes typing {
  to {
    width: 0;
  }
}

@keyframes caret {
  50% {
    color: transparent;
  }
}
